# Archives and installers
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.deb
*.zip
*.tgz

# Logs
*.log
*.log.*

# Signature files
*.sig

# Directories to ignore
pkg/
src/

# Ignore JSON files (add this line)
*.json
